/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/media/*
/public/ckfinder/*
/public/plugins/*
/public/js/*
/public/css/*
/public/images/*
/public/img/*
/public/fonts/*
/public/webfonts/*
/database/seeds/RoleTableSeeder
/database/seeds/UserTableSeeder